@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
:root {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  place-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  letter-spacing: 2px;
  background-color: #acb800;
  background-image: url('https://www.transparenttextures.com/patterns/argyle.png');
  text-transform: uppercase;
}
form {
  text-align: center;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 2px #23232350;
  box-shadow: 0 2px 2px #23232350;
  padding: 32px;
  background-color: #ffffffbb;
  color: #4d5200;
  margin: 16px;
}
form input {
  display: inline-block;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 6px 0 0 6px;
}
form a,
form button {
  padding: 17px 17px 16.5px 17px;
  color: white;
  background-color: #acb800;
  text-decoration: none;
  margin-left: -10px;
  border-radius: 0 6px 6px 0;
  outline: none;
  border: none;
}
form a:hover,
form button:hover {
  background-color: #7c8500;
}
form a:active,
form button:active {
  background-color: #dceb00;
}
#todo {
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 2px #23232350;
  box-shadow: 0 2px 2px #23232350;
  padding: 32px;
  background-color: #ffffffbb;
  color: #4d5200;
  margin: 16px;
  width: 50%;
}
#todo ul {
  list-style: none;
  padding: 0;
}
#todo input[type='checkbox'] {
  -webkit-transform: scale(2);
  transform: scale(2);
  margin-right: 24px;
}
#todo li {
  padding: 16px;
}
#todo li:hover {
  font-weight: bold;
}

#todo li:not(:first-child) {
  border-top: 1px solid #acb800;
}
a {
  color: white;
  text-decoration: none;
}
