@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

$green: #acb800;

:root {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
  letter-spacing: 2px;
  background-color: $green;
  background-image: url('https://www.transparenttextures.com/patterns/argyle.png');
  text-transform: uppercase;
}

form {
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 2px 2px #23232350;
  padding: 32px;
  background-color: #ffffffbb;
  color: darken($green, $amount: 20%);
  margin: 16px;

  input {
    display: inline-block;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 6px 0 0 6px;
  }

  a,
  button {
    padding: 17px 17px 16.5px 17px;
    color: white;
    background-color: $green;
    text-decoration: none;
    margin-left: -10px;
    border-radius: 0 6px 6px 0;
    outline: none;
    border: none;

    &:hover {
      background-color: darken($green, $amount: 10%);
    }

    &:active {
      background-color: $greens;
    }
  }
}

#todo {
  border-radius: 6px;
  box-shadow: 0 2px 2px #23232350;
  padding: 32px;
  background-color: #ffffffbb;
  color: darken($green, $amount: 20%);
  margin: 16px;
  width: 50%;

  ul {
    list-style: none;
    padding: 0;
  }

  input[type='checkbox'] {
    transform: scale(2);
    margin-right: 24px;
  }

  li {
    padding: 16px;

    &:hover {
      font-weight: bold;
    }
  }

  li:not(:first-child) {
    border-top: 1px solid $green;
  }
}

a {
  color: white;
  text-decoration: none;
}
